.main {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(25, 1, 80);
  background-image: url("/Background/token.png");
  background-size: cover;
  background-repeat: no-repeat, repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1050px;
  width: 100%;
  margin-top: 20px;
}

.contentBox {
  flex-direction: column;
  display: flex;
  align-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 70%;
  margin-bottom: 100px;
  padding: 0px 20px;
  overflow: hidden;
}

.dash {
  width: 100%;
  margin: 20px 0px;
  border-top: 1px solid rgba(0, 232, 248, 0.6);
}

.titleContainer {
  max-width: 1050px;
  padding: 0px 50px;
  margin-top: 50px;
  width: 100%;
  text-align: start;
}

.titleText {
  font-weight: 200;
  font-size: 50px;
  margin: 0px;
  color: rgb(0, 217, 255);
}

.title1Text {
  font-weight: 200;
  font-size: 40px;
  margin: 0px;
  color: rgb(0, 217, 255);
}

.title2Text {
  font-weight: 200;
  font-size: 35px;
  margin: 0px;
  margin-top: 70px;
  color: rgb(0, 217, 255);
}

.subText {
  color: rgb(0, 217, 255);
  font-weight: 200;
  font-size: 25px;
  margin: 0px;
}

.subText2 {
  font-weight: 200;
  font-size: 25px;
  margin: 0px;
  color: rgb(234, 6, 255);
}

.headlineText {
  font-size: 30px;
  font-weight: 200;
  margin: 0px;
  font-style: italic;
  color: rgb(0, 217, 255);
}

.labelText {
  font-weight: 500;
  font-size: 15px;
  margin: 0px;
  line-height: 0px;
  color: rgba(255, 255, 255, 0.6);
}

.tabText {
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 0px;
  color: rgba(255, 255, 255, 0.75);
}

.tab2Text {
  font-weight: 300;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.75);
}

.boldText {
  color: rgba(0, 217, 255, 0.8);
  font-weight: 400;
  font-size: 18px;
}
.normalText {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  inline-size: 100%;
  overflow-wrap: break-word;
}

.normalText:hover {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
}

.listText {
  color: rgba(255, 255, 255, 0.75);
  margin: 0px;
  font-size: 18px;
  inline-size: 100%;
  font-weight: 300;
  overflow-wrap: break-word;
}

.previewContainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.previewBox {
  max-width: 150px;
  transition: 0.3s;
  cursor: url("/Svg/pointer.cur"), auto;
  overflow: hidden;
  border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.previewBox:hover {
  border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}
.buttonText {
  color: rgb(184, 184, 184);
}

.buttonText:hover {
  color: #fff;
}

.imageBox1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #00000096;
  margin: 20px 0px;
}

.image1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageBox2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #00000096;
}

.image2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.containerLink {
  display: none;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.linkBox {
  color: rgb(49, 49, 49);
  background-color: rgba(0, 247, 255, 0.747);
  margin: 5px 5px;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: url("/Svg/pointer.cur"), auto;
  transition: 0.5s;
}

.linkBox:hover {
  background-color: rgba(0, 204, 255, 0.534);
}

.linkText {
  margin: 0px;
  padding: 0px;
}

.markerBox {
}

.marker {
  position: absolute;
  padding-top: 50px;
  height: 50px;
  width: 1px;
}

@media only screen and (max-width: 800px) {
  .titleContainer {
    border-top: 1px solid rgba(0, 247, 255, 0.747);
    border-bottom: 1px solid rgba(0, 247, 255, 0.747);
    margin-top: 20px;
  }
  .container {
    margin-top: 20px;
  }
  .title1Text {
    font-size: 30px;
  }
  .title2Text {
    font-size: 25px;
  }

  .titleContainer {
    padding: 0px 5px;
  }
  .titleText {
    font-size: 40px;
  }
  .sideBar {
    display: none;
  }
  .contentBox {
    padding: 0px 10px;
    width: 100%;
  }
  .subText {
    font-weight: 200;
    font-size: 20px;
    margin: 0px;
  }
  .subText {
    font-weight: 200;
    font-size: 20px;
    margin: 0px;
  }
  .headlineText {
    font-size: 20px;
    font-weight: 200;
  }
  .container {
    max-width: 100%;
  }
  .containerLink {
    display: flex;
  }
}

@media only screen and (max-width: 500px) {
  .titleText {
    font-size: 25px;
  }
  .buttonText {
    font-size: 12px;
  }
  .normalText {
  }
}
