.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.h4animate{
    font-size: 18px;
    color: rgb(199, 199, 199);
    margin: 10px 0px;
    font-weight: 600;
    transition: 0.3s;
}

.h4animate:hover{
    color: rgb(255, 255, 255);
}

.drawerButton{
    display: flex;
    align-items: center;
    cursor: url('/Svg/pointer.cur'),auto;
}

.svgUp{
    color: rgba(252, 250, 250, 0.616);
    margin-left: 5px;
    font-size: 25px;
    transition: 0.5s;
    transform: rotate(180deg)
}

.svgDown{
    color: rgba(252, 250, 250, 0.616);
    margin-left: 5px;
    font-size: 25px;
    transition: 0.5s;
}

.drawerOpen{
    overflow: hidden;
    transition: 1s;
    padding: 10px 10px;
    opacity: 1;
    border-top: 2px solid rgba(252, 250, 250, 0.616);
    border-bottom: 2px solid rgba(252, 250, 250, 0.616);
}

.drawerClose{
    border-top: 0px solid rgba(252, 250, 250, 0.616);
    border-bottom: 0px solid rgba(252, 250, 250, 0.616);
    overflow: hidden;
    transition: 1s;
    height: 0px !important;
    opacity: 0;
}



.drawerLink{
    display: flex;
    flex-direction: column;
    cursor: url('/Svg/pointer.cur'),auto;
}


@media only screen and (max-width: 500px) {
    .h4animate{
        font-size: 18px;
        
    }

}