.main{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat, repeat;
    background-image:url("/Background/tournaments-bg.png");
}

.mainTitleBox{
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.mainTitle{
    color: rgba(255, 255, 255, 0.800);
    font-size: 70px;
}


.mainContainer1{
    display: flex;
    width: 90%;
    padding: 20px 0px;
}

.mainContainer2{
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 0px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.200);
    border-radius: 10px;
}

.carouselContainer{
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBox{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: Imageanimate;
    animation-duration: 2s;
}

@keyframes Imageanimate {
    0%   {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }


.image{
    width: 90%;
    height: 60%;
}

.imageButtonContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.imageButton{
    color: rgba(255, 255, 255, 0.800);
    font-size: 40px;
    margin: 20px 0px;
    cursor: url('/Svg/pointer.cur'),auto;
    padding: 0px 20px;
    border-radius: 50%;
    background: linear-gradient(-15deg, #96930093, #e608917e);
}




.contentContainer{
    width: 60%;
    padding: 20px 60px;
    animation-name: contentAnimate;
    animation-duration: 2s;
}



@keyframes contentAnimate {
    0%   {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }


.contentTitle{
    color: rgba(255, 255, 255, 0.800);
    font-size: 40px;
    margin: 0px;
}

.text1{
    color: rgba(255, 255, 255, 0.800);
    background-color: rgba(0, 0, 0, 0.300);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
}

.text2{
    color: rgba(255, 255, 255, 0.800);
    background: linear-gradient(-15deg, #96930093, #e608917e);
    padding: 10px;
    border-radius: 10px;
}


.buttonContainer{
    display: flex;
    justify-content: space-between;
}

.buttonText{
    color: rgba(255, 255, 255, 0.800);
}


@media only screen and (max-width: 1000px) {
    .mainContainer1{
        flex-direction: column-reverse;
        width: 100%;
    }

    .mainContainer2{
        flex-direction: column-reverse;
        width: 100%;
    }
    .carouselContainer{
        width: 100%;
    }
    .contentContainer{
        width: 100%;
    }
    .mainTitle{
        font-size: 40px;
    }
    .contentTitle{
        font-size: 30px;
    }
    



}


@media only screen and (max-width: 500px) {
    .mainContainer1{
        padding: 5px 0px;
    }
    .mainContainer2{
        padding: 5px 0px;
    }
    .contentContainer{
        padding: 30px 10px;
    }
    .image{
        width: 95%;
        height: 60%;
    }
    .mainTitle{
        font-size: 30px;
    }
    .contentTitle{
        font-size: 25px;
        text-align: center;
    }
   

}