.main {
    width: 0%;
    position: fixed;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    z-index: 6000;
    overflow-y:auto;
    animation-name: backdrop;
    animation-duration: 3s ;
}

@keyframes backdrop {
    0%   {
        width: 100%;
    }
    70%   {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}


.logoBox{
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: cover;
    background-repeat: no-repeat, repeat;
    transform: translate(-50%,-50%);
    background-image: url("/Svg/DoubleRing.svg");
    animation-name: logoA;
    animation-duration: 2s ;
    z-index: 6000;
    opacity: 0;
}

@keyframes logoA {
    0%   {
        opacity: 1;
    }
    70%   {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.logo{
    width: 100px;
}


.sideA{
   
    height: 100%;
    background-color: #000;
    animation-name: sideA;
    animation-duration: 3s ;
}

@keyframes sideA {
    0%   {
        width: 50%;
    }
    60%   {
        width: 50%;
        transform: translate(0,0);
    }
    100% {
        width: 50%;
        transform: translate(-2000px,0);
    }
  }


.sideB{
    height: 100%;
    background-color: #000;
    animation-name: sideB;
    animation-duration: 3s ;
}


@keyframes sideB {
    0%   {
        width: 50%;
    }
    60%   {
        width: 50%;
        transform: translate(0,0);
    }
    100% {
        width: 50%;
        transform: translate(2000px,0);
    }
  }

