.main {
    width: 100%;
    position: fixed;
    height: 100%;
    background-image: url("/Background/loader-bg.svg");
    background-color: #001f47;
    background-size: cover;
    background-repeat: no-repeat, repeat;
    overflow: hidden;
    transition: 1.0s;
    display: flex;
    flex-direction: column;
    z-index: 2000;
    overflow-y:auto;
}
.off{
    width: 100%;
    position: fixed;
    height: 100%;
    background-image: url("/Background/loader-bg.svg");
    background-color: rgb(25, 1, 80);
    background-size: cover;
    background-repeat: no-repeat, repeat;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 2000;
    transition: 2.0s;
    transform: translate(2000px,0);
    animation-name: bodyanimate;
    animation-duration: 1s ease;
    z-index: 2000;
}

@keyframes bodyanimate {
    0%   {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }


.navbar {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tinylogoToken{
    width: 10%;
    margin: 0px 5px;
    display: flex;
    align-content: center;
}

.logoToken{
    width: 90%;
}

.logoTitle1 {
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
.logoTitle2 {
    font-weight: bold;
    font-size: 25px;
    margin: 0px 5px;
    color: #fff;
}

.logoTitle3 {
    font-weight: 100;
    font-size: 15px;
    color: #fff;
}


.navbar1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 10vh;
}
.navbar3 {
    max-width: 10%;
    cursor: url('/Svg/pointer.cur'),auto;
}

.navbar2 {
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    
}

.buttonBox{
    cursor: url('/Svg/pointer.cur'),auto;
    display: flex;
}

.h4animate{
    font-size: 18px;
    color: rgb(199, 199, 199);
    margin: 10px 0px;
    font-weight: 600;
    transition: 0.3s;
}

.h4animate:hover{
    color: rgb(255, 255, 255);
}

.rightsBox{
    align-self: center;
    justify-content: center;
    display: flex;
    width: 90%;
    margin: 30px 0px;
    border-top: 1px solid rgba(255, 206, 206, 0.589);
}

.rightsText{
    color: rgba(252, 250, 250, 0.616);
    text-align: center;
    font-size: 10px;
}

.icon{
    color: #fff;
    font-size: 40px;
}



.drawerButton{
    display: flex;
    align-items: center;
    cursor: url('/Svg/pointer.cur'),auto;
}

.svgUp{
    color: rgba(252, 250, 250, 0.616);
    margin-left: 5px;
    font-size: 25px;
    transition: 0.5s;
    transform: rotate(180deg)
}

.svgDown{
    color: rgba(252, 250, 250, 0.616);
    margin-left: 5px;
    font-size: 25px;
    transition: 0.5s;
}

.drawerOpen{
    overflow: hidden;
    transition: 1s;
    padding: 10px 10px;
    opacity: 1;
    border-top: 2px solid rgba(252, 250, 250, 0.616);
    border-bottom: 2px solid rgba(252, 250, 250, 0.616);
}

.drawerClose{
    border-top: 0px solid rgba(252, 250, 250, 0.616);
    border-bottom: 0px solid rgba(252, 250, 250, 0.616);
    overflow: hidden;
    transition: 1s;
    height: 0px !important;
    opacity: 0;
}



.drawerLink{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 800px) {
    .tinylogoToken{
        width: 20%;
        margin: 0px 5px;
        display: flex;
        align-content: center;
    }
}


@media only screen and (max-width: 500px) {
    .h4animate{
        font-size: 18px;
        
    }

    .navbar1 {
        width: 85%;
    }
    .navbar3 {
        max-width: 15%;
    }
}